.modal-delete{

    left: 30%;
    position: fixed;
    right: 30%;
    top: -100%;
    transition: all 0.5s;
    width: 60%;
    z-index: 5000;

    &.active{
        top: 40%;
        transition: all 0.5s;
    }

    .modal-delete-message{
        background-color: white;
        text-align: center;
        padding: 1rem 0;
        width: 60%;
    }

    .modal-delete-options{

        display: flex;

        .modal-delete-yes{

            background-color: hsl(120, 100%, 25%);
            cursor: pointer;
            padding: 1rem 0;
            text-align: center;
            width: 30%;
    
            span{
                color: white;
                font-size: 2em;
            }
        }
    
        .modal-delete-no{
    
            background-color: hsl(0, 100%, 50%);
            cursor: pointer;
            padding: 1rem 0;
            text-align: center;
            width: 30%;
            
            span{
                color: white;
                font-size: 2em;
            }
        }
    }

   
}